/* Lerum custom CSS */

/* Lerum color vars */

@lerum-color-greybrown: #746055;
@lerum-color-darkgrey: #14151B;
@lerum-color-grey: #606772;
@lerum-color-darkgreen: #5E6656;
@lerum-color-green: #C6D39B;
@lerum-color-lightbrown: #9D6E55;
@lerum-color-background: #F8F7F2;
@lerum-color-red: #E41B13;
@lerum-color-white: #FFF;

/* Helpifunctions */

.hide{
	display:none;
}

/* Typography */


.h1{
	font-size:65px;
	line-height:70px;
	font-weight:normal;

	/* show h4 */
	strong{
		font-size:26px;
		line-height:32px;
		font-weight:normal;		
	}
}

.h2{
	font-size:44px;
	line-height:50px;	
	font-weight:normal;

	/* show h5 */
	strong{
		color:@lerum-color-darkgrey;
		font-family:"Open sans";
		font-size:18px;
		line-height:24px;
		font-weight:normal;
		letter-spacing:3px;
		text-transform:uppercase;
	}
}

.h3{
	font-size:32px;
	line-height:36px;	
	font-weight:normal;

	/* show h6 */
	strong{
		color:@lerum-color-darkgrey;
		font-family:"Open sans";
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		letter-spacing:2px;	
		text-transform:uppercase;		
	}
}

blockquote{
	color:@lerum-color-grey;
	font-family:"Bree Serif";
	font-size:32px;
	line-height:50px;	
	font-weight:500;
	padding-left:0!important;
	border-left:none!important;
}

/* Header */

.Header{
	&.Header--top{
		position:fixed;
			z-index:10000;
			overflow:hidden;
			top:0;
			width:1441px;
			margin:0 auto;
	}
	.Header-nav-item--active{
		border-bottom:2px solid @lerum-color-red;
	}
}
@media screen and (min-width:640px) and (max-width:1440px){
	.Header.Header--top{
		width:100%;
	}
}


/* Page sections */

/* Forside */


.forside{
    .Index-gallery-item-content{
		background:transparent;
		max-width:100%;
	}
	h2.Index-gallery-item-content-heading{
		background:@lerum-color-grey;
		width:30%;
		padding:10%;
		margin-top:-250px;		
		text-align:center;
	}
	.Index-gallery-item-content-body{
		width:50%;
		position:absolute;
		left:57%;
		margin-top:-210px;
		color:@lerum-color-grey;
		font-size:32px;
		line-height:48px;
		font-weight:400;
	}
}

#dette-driv-vi-med{
	background:transparent;
	h2{
		color:@lerum-color-greybrown;
		letter-spacing:3px;
	}
	.image-block-outer-wrapper{
		.intrinsic .image-block-wrapper img{
			transform:scale(.6);
		}
		.image-caption-wrapper p{
			color:@lerum-color-greybrown;
			font-family:"Bree Serif";
			font-weight:600;
			font-size:26px;
			text-align:center;
		}
	}
}

#heimefra-samletekst{
	background:@lerum-color-darkgreen;
	h3{
		color:white;
		line-height:65px;
		letter-spaceing:1px;
	}
}

/* Page oppskrifter */

.oppskrifter{
	#oppskrift-toppgalleri .Index-page-content{
		padding-left:0;
		padding-right:0;
	}
	#oppskrift-galleri1, #oppskrift-galleri2{
		background:transparent;
	}
	#oppskrift-toppgalleri .summary-content{
		background:@lerum-color-grey;
		color:white;
		position:absolute;
		z-index:9999;
		margin-top:-200px;
		margin-left:80px;
		width:680px;
		padding:50px;
	}
	.sqs-gallery-controls{
		position:absolute;
		z-index:1;
		bottom:10px;
		right:100px;
	}
	.summary-block-header .summary-heading{
		.hide();
	}
	.summary-carousel-pager .next:before{
		font-size:30px;
	}
}



/* General */

