/* Lerum custom CSS */

/* Lerum color vars */

@lerum-color-darkgrey: #14151B;
@lerum-color-grey: #606772;
@lerum-color-darkgreen: #5E6656;
@lerum-color-green: #C6D39B;
@lerum-color-lightbrown: #9D6E55;
@lerum-color-background: #F8F7F2;
@lerum-color-red: #E41B13;
@lerum-color-white: #FFF;

/* Fonts */

h1{
	font-size:65px;
	line-height:70px;
	font-weight:normal;
}
	/* show h4 */
	h1 strong{
		font-size:26px;
		line-height:32px;
		font-weight:normal;		
	}


h2{
	font-size:44px;
	line-height:50px;	
	font-weight:normal;

	/* show h5 */
	strong{
		font-size:18px;
		line-height:24px;
		font-weight:normal;
		letter-spacing:3;
		text-transform:uppercase;
	}
}

h3{
	font-size:32px;
	line-height:36px;	
	font-weight:normal;

	/* show h6 */
	strong{
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		letter-spacing:2;	
		text-transform:uppercase;		
	}
}